### base 
Flask == 1.0.2

### data and display
plotly >= 4.1.1
pandas >= 0.24.2
Flask-SQLAlchemy

## tests and development
pytest >= 4
jedi >= 0.15

### maybe later
watchdog
# Flask-AutoIndex
# Flask-FlatPages
# Flask-Silk
