/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

/* Base Layout Properties */
:root {
  --clr-night  : MidnightBlue;
  --clr-royal  : RoyalBlue;
  --clr-indigo : #3f51b5;
  --clr-main   : Black;
  --clr-head   : DarkGrey;
  --clr-hover  : White;
  --clr-detail : LightGray;

  --bgr-main    : White;
  --bgr-detail  : LightGray;
  --bgr-header  : LightSlateGray;
  --bgr-content : WhiteSmoke;

  --xx-small : 0.60em;
  --x-small  : 0.95em;
  --small    : 1.10em;
  --med-sml  : 1.25em;
  --medium   : 1.35em;
  --med-lrg  : 1.45em;
  --large    : 1.55em;
  --x-large  : 1.70em;
  --xx-large : 1.95em;
  --neg-lrg  : -2em;

}

body {
  width           : 100%;
  background-color: var(--bgr-main);
  color           : var(--clr-main);
  padding         : 0;
  margin          : 0;
  font-size       : var(--medium);
}

h1, h2, h3, h4 {
  color           : var(--clr-night);
  font-size       : var(--med-lrg);
  font-weight     : bold;
  text-decoration : underline;
}
h3, h4 {
  font-size       : var(--med-sml);
  text-decoration : none;
}

a, a:active, a:hover, a:visited {
  padding         : 5px;
  border          : thin solid transparent;
  border-radius   : 4px;
  color           : var(--clr-indigo);
  background-color: transparent;
}
a:active, a:hover {
  background-color: var(--bgr-night);
  color           : var(--clr-hover);
  border          : thin solid var(--clr-hover);
}

header { /* page title section */
  position        : relative;
  color           : var(--clr-header);
  background-color: var(--bgr-header);
  font-size       : var(--large);
  padding         : 10px;
  margin          : 0;
  line-height     : 1em;
}
footer { /* page tail fixed at bottom of screen */
  position        : fixed;
  bottom          : -10px;
  left            : 0;
  right           : 0;
  display         : block;
  color           : inherit;
  background-color: var(--bgr-header);
  font-size       : var(--x-small);
  text-align      : center;
  line-height     : 1;
  padding         : 2px;
}

/*
 * nav menu
 */
.topmenu {
  position        : -webkit-sticky; /* Safari */
  position        : sticky;
  z-index         : 50;
  display         : inline-block;
  top             : 0;
  left            : 0;
  right           : 0;
  width           : 100%;
  font-size       : var(--medium);
  background-color: var(--bgr-detail);
  color           : var(--clr-night);
  letter-spacing  : 1px;
  font-family     : "Segoe UI",Arial,sans-serif;
  border-bottom   : thin solid var(--clr-main);
}
.topmenu a {
  z-index         : 60;
  padding         : 5px 15px;
  margin-left     : -5px;
  border          : thin solid transparent;
  border-right    : thin solid var(--clr-main);
  border-bottom   : thin solid var(--clr-main);
  border-radius   : 0px;
  display         : inline-block;
  font-style      : oblique;
  text-decoration : none;
  color           : var(--clr-night);
  background-color: var(--bgr-detail);
}
.topmenu a:hover,.topmenu a:focus,.topmenu a.active {
  border          : thin solid var(--clr-hover);
  background-color: var(--clr-night);
  color           : var(--clr-hover);
}

/*
 * main content sections
 */
section {
  clear           : both;
  position        : relative;
  display         : block;
  margin          : var(--med-lrg);
	padding-bottom  : var(--large);
	border-bottom   : solid medium var(--bgr-header);

  margin-top      : var(--neg-lrg); /* for #anchor link under menu */
  padding-top     : var(--x-large); /* for #anchor link under menu */
}
section ul {
  list-style-type : circle;
  font-size       : var(--med-sml);
}
section li {
  line-height     : 2;
}
section a {
  padding         : 5px;
  color           : var(--clr-night);
  background-color: var(--bgr-main);
  text-decoration : none;
}
section a:active, section a:hover {
  color           : var(--bgr-main);
  background-color: var(--clr-royal);
  border          : thin transparent;
  border-radius   : 4px;
}
section img {
  border  : 3px solid var(--bgr-header);
  padding : 1px;
  margin  : 5px;
  max-width: 95%;
}
section img:hover {
  border  : 4px solid var(--clr-royal);
  padding : 0px;
}
section a.img, a.img:active, a.img:hover, a.img:visited {
  border           : transparent;
  background-color : transparent;
  color            : transparent;
  padding          : 0px;
  margin           : 0px;
}

/* override plotly block spacing */
section div.plotly {
  margin-top: 20px !important;
}

/* responsiveness */
@media (max-width: 810px) {
  section img {
    width: 95%;
  }
  header {
    font-size: var(--medium);
  }
  .topmenu {
    font-size: var(--small);
    letter-spacing: 0px;
  }
  .topmenu a {
    padding: 3px 5px;
    margin-left: -4px;
  }
}
@media (max-width: 500px) {
  section img {
    width: 97%;
  }
}

@media print {
  img {
    max-width         : 100% !important;
    page-break-inside : avoid;
  }                     
 h1, h2, h3, h4, h5 {
    page-break-after  : avoid;
  }
}

/* columnar format within parent block */
.column {
  display        : inline-block;
  height         : 100%;
  vertical-align : text-top;
  margin-right   : 5%;
}
.column img {
  max-width: 95%;
}

/* revert "csv" back to initial dataTable/bootstrap formats */
.csv a, .csv a:active, .csv a:hover, .csv a:visited,
.csv li {
  display: inline-table;
	border: 1px solid #ddd;
}

/*
 * table-icious
 * Note: 'rp' and 'b' are overridden within .table
 * (Shorter tags make me smile.)
 */
div.table {
  display      : table;
  width        : auto;
  border-top   : 1px solid var(--clr-main);
}
div.table rp {
  display      : table-row;
}
div.table rp b {
  display      : table-cell;
  background   : var(--bgr-main);
  padding      : 5px 10px;
  font-weight  : normal;
  border-bottom: 1px solid var(--clr-main);
  border-right : 1px solid var(--clr-main);
}
/* header column */
div.table rp b:first-child {
  background   : var(--bgr-content);
  font-weight  : 700;
  border-left  : 1px solid var(--clr-main);
}

/* misc styles */
.indented_note { /* note to the right of line above */
  position     : relative;
  left         : 2em;
  font-weight  : normal;
  font-style   : oblique;
  font-size    : 70%;
  text-decoration: underline overline dashed !important;
}
.indented_note a {
  border       : 0px;
  padding      : 2px;
}

s, small {
  font-size       : var(--xx-small);
  text-decoration : none;
}
.large     { font-size: larger; }
.indent    { margin-left: 2em; }
.no-border { border: 0px none transparent; }
.clear     { background: transparent; }
.strong    { font-weight: bold; }
sub, .sub  { vertical-align: text-bottom; }
