{#% extends "meta.html" %#}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% block meta %}
    {% include "meta.html" ignore missing %}
    {% endblock meta %}
    {% block head %}
    <link rel="icon" href="{{ url_for('static', filename='images/mu-letter-blue.ico') }}" type="image/x-icon">
    <!--<base href="{{request.url_root}}">-->
    <base href="{{request.base_url}}">

    <!-- third party core -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- dataTables -->
    <script src="{{ url_for('static', filename='js/jquery.csv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/csv_to_html_table.js') }}"></script>
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- run_qc -->
    <!--<script src="{{ url_for('static', filename='js/run_qc_info.js') }}"></script>-->
    <link href="{{ url_for('static', filename='css/run_qc_info.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock head %}

    <title>{% block title %}Mbiome Core Sequencer Run QC{% endblock title %}</title>
  </head>
  <body>
    <header>
      {% block header %}
      <img src="/static/images/mu-letter-blue.png" height="25px">
      MicrobiomeCore Run 
      {% endblock header %}
    </header>
    {% block topmenu %}
    <nav class="topmenu">
      <a href="#run_info"   >Run Info</a>
      <a href="#fastqc"     >FastQC</a>
      <a href="#read_dist"  >Read Distribution</a>
      <a href="#read_count" >Read Count Spreadsheet</a>
      <a href="#run_metric" >Run Metrics <s>(GT)</s></a>
      <a href="#qcreport"   >Sample QC Report <s>(GT)</s></a>
      <!--<a href="{{run_path}}/#run_info"   >Run Info</a>-->
      <!--<a href="{{run_path}}/#fastqc"     >FastQC</a>-->
      <!--<a href="{{run_path}}/#read_dist"  >Read Distribution</a>-->
      <!--<a href="{{run_path}}/#read_count" >Read Count Spreadsheet</a>-->
      <!--<a href="{{run_path}}/#run_metric" >Run Metrics <s>(GT)</s></a>-->
      <!--<a href="{{run_path}}/#qcreport"   >Sample QC Report <s>(GT)</s></a>-->
    </nav>
    {% endblock topmenu %}

    {% block content %}{% endblock content %}

    <footer>
      {% block footer %}
      <p>&copy; Copyright 2018 MicrobiomeCore</p>
      {% endblock footer %}
    </footer>
  </body>
</html>
