<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Benjamin Leopold in Microbiome Core at JAXGM" />
    <link rel="icon" href="/static/images/mu-letter-blue.ico" type="image/x-icon">

    <!-- third party core -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- dataTables -->
    <script src="/static/js/jquery.csv.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.js"></script>
    <script src="/static/js/csv_to_html_table.js"></script>
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- run_qc -->
    <!--<script src="/static/js/run_qc_info.js"></script>-->
    <link href="/static/css/run_qc_info.css" rel="stylesheet" type="text/css" media="screen"/>

    <title>Run QC: {{ run_folder }}</title>
  </head>

  <body>
    <header>
      <img src="/static/images/mu-letter-blue.png" height="25px">
      MicrobiomeCore Run QC for "{{ run_folder }}"
      <s><a href="/run_qc/" class="clear no-border indent">Up to Run QC List</a></s>
    </header>

    <nav class="topmenu">
      <a href="#run_info"   >Run Info</a>
      <a href="#fastqc"     >FastQC</a>
      <a href="#read_dist"  >Read Distribution</a>
      <a href="#read_count" >Read Count Spreadsheet</a>
      <a href="#run_metric" >Run Metrics <s>(GT)</s></a>
      <a href="#qcreport"   >Sample QC Report <s>(GT)</s></a>
    </nav>

    <section id="run_info">
      <h2>Run Info</h2>
      <div class="table indent" id="infos">
        <script>$("#infos").load("{{ gt_project }}_QCreport.infos.html");</script>
      </div>
    </section>

    <section id="fastqc">
      <h2>FastQC</h2>
      <ul>
        <li><a href="fastqc.html">View list of FastQC pages for samples and read directions</a></li>
        <li><a href="fastqc/">Browse FastQC directory/</a></li>
      </ul>
    </section>

    <section id="read_dist">
      <h2>Read Distribution</h2>
      <img src="{{ run_folder }}_LANE-001_Read_Distributions.png"
           alt="Plot of read distribution is not found" ><br/>
      <a href="{{ run_folder }}_LANE-001_Read_Distributions.png" download>
             <s>[Download above plot]</s></a>
    </section>

    <section id="read_count">
      <h2>Read Count</h2>
      <b class="indented_note">Number of reads listed here is total number of reads in both directions.</b>
      <ul>
        <li>
          <a href="{{ run_folder }}_Samples_Read_Counts.xls">Download spreadsheet with sample total read counts</a>
        </li>
      </ul>
    </section>

    <section id="run_metric">
      <h2>Run Metrics</h2>
      <div class="csv" id="run_metric_csv"></div>
      <script>
        CsvToHtmlTable.init({
          csv_path: 'Run_Metric_Summary_{{ gt_project }}.csv',
          element: 'run_metric_csv',
          allow_download: true,
          csv_options: {separator: ',', delimiter: '"'},
          datatables_options: {
            "processing": true,
              "paging": true,
              "scrollX": "98%",
              "pageLength": 11,
              "lengthMenu": [ [11, 20, 40, -1], [10, 20, 40, "All"] ],
              "order": [],
              "ordering": false,
          }
        });
      </script>
    </section>

    <section id="qcreport">
      <h2>QC Report</h2>
      <b class="indented_note">Number of reads shown here is number of read pairs.</b>
      <div class="csv" id="qcreport_csv"></div>
      <script>
        CsvToHtmlTable.init({
          csv_path: '{{ gt_project }}_QCreport.table.csv',
          element: 'qcreport_csv',
          allow_download: true,
          csv_options: {separator: ',', delimiter: '"'},
          datatables_options: {
            "processing": true,
              "paging": true,
              "scrollX": "98%",
              "pageLength": 25,
              "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
              "lengthChange": true,
              "rowId": "GT_QC_Sample_ID",
              "order": [[ 1, 'asc' ], [ 3, 'desc' ]],
          }
        });
      </script>
    </section>

    <footer><p>MicrobiomeCore</p></footer>
  </body>
</html>
